nav{
    background-color: #2d545a;
    width: 100vw;
    height: 80px;
    position: fixed;
    top: 0;
    z-index: 100;
}

/* change navbar styles on scroll using javascript */
.window-scroll{
    background-color: #2d545a;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
}
                                                           
.nav__container{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__container h4{
    color: white;
    line-height: 1.2;
    font-size: 24px;
    margin-left: 35px;
}

.nav__container h4:hover{
    color: #f9004d;
}

.nav__menu{
    display: flex;
    align-items: center; 
    gap:64px;
    margin-right: 70px;
}

.nav__menu a{
    font-size: 14.4px;
    color: white;
    transition: all 400ms ease;
} 

.nav__menu a:hover{
    color: #f9004d;
    font-size: 16px;
    font-weight: 700;
}